.profile-container {
  margin: 10px;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.left-column {
  display: flex;
  gap: 2rem;
}

@media (max-width: 600px) {
  .left-column {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .left-column > * {
    text-align: center;
  }

  .profile-details {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-name {
  font-size: 3.5rem;
  font-weight: bold;
}

.profile-email,
.profile-phone {
  font-size: 1.8rem;
}
